@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.artista-nome,
.nome-da-musica {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.barra-de-progresso {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 10px;
    position: relative;
    margin: 10px 0;
    width: 100%;
}

.progresso {
    background-color: #3b82f6;
    border-radius: 5px;
    height: 100%;
    width: 50%; /* Exemplo, ajuste conforme necessário */
}

.tempo {
    font-size: 0.9em;
    color: #555;
}

.informacao {
    margin-top: 20px;
}

.disco {
    margin: 20px auto;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cobrir {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.controle {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.controle ion-icon {
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}
